/* set the font family */

@font-face {
    font-family: Space-Grotesk;
    src: url(../assets/fonts/space-grotesk.ttf);
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}

/* set variables for colors*/
:root {
    --color-primary: #242636;
    --color-accent: #2e3145;
    --color-secondary: #e3b753;
    --text-primary: #ffffff;
    --text-secondary: #dcdcdc;
}

body {
    background-color: #121212;
    margin: 2em auto;
}

article {
    margin: 0 !important;
}

h1 {
    font-family: Space-Grotesk;
    font-size: 1.5em;
    line-height: 1.2em;
    letter-spacing: -2%;
    color: var(--text-primary);
}

h2 {
    font-family: Space-Grotesk;
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: -2%;
    color: var(--text-primary);
}

h3 {
    font-family: Space-Grotesk;
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: -2%;
    color: var(--text-primary)
}

.hero-video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-title {
    /* place in the middle of the screen*/
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-primary);
    font-family: Space-Grotesk;
    text-align: center;
    font-size: 3em;
}

.hero-markup {
    /* place in the middle of the screen*/
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, 250%);
    color: var(--text-primary);
    font-family: Space-Grotesk;
    text-align: center;
    font-size: 1.6em;
}

#homeHeading {
    padding-top: 3vh;
}


/*-------------------HERO-------------------*/

.hero-info-icons {
    /* this is a grid with 3 columns*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* center the grid*/
    justify-items: center;
    /* place it below the hero title*/
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 50%);
    /* space between the icons*/
    column-gap: 4em;
}

#info-icon {
    /* snap icon to the right*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
    font-size: 4em;
    color: var(--text-primary);
}

.hero-info-item {
    font-family: Space-Grotesk;
    color: var(--text-primary);
}


/*-------------------REASONS-------------------*/

.info-reasons {
    /* Should be below the hero video*/
    position: relative;
    top: 100vh;
    /* set the background color*/
    background-color: var(--color-primary);
    color: var(--text-primary);
    font-family: Space-Grotesk;
    font-size: 1.2em;
    /* padding: 5vh 7vw;*/
}

.info-reasons-markup {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 0;
}

.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-container {
    padding: 2vw 5vw 2vw 2vw;
}

.info-reasons-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    right: 0;
}

.expand-icon {
    font-size: 1.6em;
    text-decoration: none;
    color: var(--text-primary);
    font-variation-settings: 'FILL' 0;
    cursor: pointer;
}

.expand-icon-span :hover {
    font-variation-settings: 'FILL' 1;
    /* fade as transition*/
    transition: font-variation-settings 0.3s;
}

.modal-overlay {
    position: fixed;
    top: 10vh;
    left: 10%;
    width: 80%;
    height: 80vh;
    /* set the background color*/
    background-color: var(--color-primary);
    border-radius: 25px;
    z-index: 2;
    /* add a transition effect*/
    /* zoom and fade in the modal in 0.3 seconds*/
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* set the background color*/
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.modal-content {
    padding: 2vw 5vw 4vw 4vw;
    overflow-y: auto;
    height: 90%;
}

.modal-title {
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1em;
}

.modal-text {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6em;
}

.close-icon {
    font-size: 1.6em;
    text-decoration: none;
    color: var(--text-primary);
    font-variation-settings: 'FILL' 0;
    cursor: pointer;
    position: absolute;
    /* stick to the right*/
    right: 2vh;
    bottom: 1.8vh;

}

.close-icon-span :hover {
    font-variation-settings: 'FILL' 1;
    /* fade as transition*/
    transition: font-variation-settings 0.3s;
}

/* ENERGY CALCULATOR */

.calculator-container{
    /* this is a 60 40 grid*/
    display: grid;
    grid-template-columns: 60% 40%;

}

.mdc-text-field {
    color: var(--text-primary) !important;
    caret-color: var(--text-primary) !important;
    width: 90%;
    margin: 0 1em 1em 0
}

.mdc-text-field__input {
    color: var(--text-primary) !important;
    caret-color: var(--text-primary) !important;
}

.mdc-floating-label {
    color: lightgrey !important;
}

/* set the outline color*/
.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
    border-color: var(--text-primary) !important;
}

/* set the border color for invalid inputs*/
.mdc-text-field--invalid .mdc-floating-label,
.mdc-text-field--invalid .mdc-notched-outline__leading,
.mdc-text-field--invalid .mdc-notched-outline__notch,
.mdc-text-field--invalid .mdc-notched-outline__trailing {
    border-color: red !important;
}

.mdc-button {
    color: var(--text-primary) !important;
    background-color: var(--color-secondary) !important;
}

.mdc-form-field {
    /* make all the radio buttons below each other*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}

.radio-label {
    color: var(--text-primary) !important;
    /* make this a grid with 2 columns*/
    display: grid;
    grid-template-columns: .1fr 9fr;
    /* space between the radio button and the label*/
    column-gap: 0.5em;
    /* vertically align the label center*/
    align-items: center;
}

.mdc-radio {
    /* make the button color --primary*/
    --mdc-theme-secondary: var(--color-secondary) !important;
}

.result-cards{
    /* grid with 2 columns*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid is left aligned*/
    justify-items: left;
    /* space between the cards*/
    column-gap: 2em;
}

.mdc-card{
    /* initially the cards are hidden*/
    display: none;
    margin-top: 1.5em;
    background-color: var(--color-accent);
    color: var(--text-primary);
    border-radius: 20px;
    padding: 0 1em 0 1em;
}

.mdc-card h5 {
    margin-bottom: 0.2em;
}

.mdc-card p {
    margin-top: 0.4em;
    font-size: 0.8em;
}

#result-text {
    font-weight: 600;
}