/* set the font family */

@font-face {
    font-family: Space-Grotesk;
    src: url(../assets/fonts/space-grotesk.ttf);
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}

/* set variables for colors*/
:root {
    --color-primary: #242636;
    --color-accent: #2e3145;
    --color-secondary: #e3b753;
    --text-primary: #ffffff;
    --text-secondary: #c4c4c4 !important;
    --text-tertiary: #8e8e8e;

    --font-primary: Space-Grotesk;
    --font-secondary: Poppins;
}

body {
    background-color: #121212;
    margin: 2em auto;
}

article {
    margin: 0 !important;
}

h1 {
    font-family: Space-Grotesk;
    font-size: 1.5em;
    line-height: 1.2em;
    letter-spacing: -2%;
    color: var(--text-primary);
}

h2 {
    font-family: Space-Grotesk;
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: -2%;
    color: var(--text-primary);
}

h3 {
    font-family: Space-Grotesk;
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: -2%;
    color: var(--text-primary)
}

.hero-video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-title {
    /* place in the middle of the screen*/
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-primary);
    font-family: Space-Grotesk;
    text-align: center;
    font-size: 3em;
}

.hero-markup {
    /* place in the middle of the screen*/
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, 250%);
    color: var(--text-primary);
    font-family: Space-Grotesk;
    text-align: center;
    font-size: 1.6em;
}

#homeHeading {
    padding-top: 3vh;
}


/*-------------------HERO-------------------*/

.hero-info-icons {
    /* this is a grid with 3 columns*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* center the grid*/
    justify-items: center;
    /* place it below the hero title*/
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 50%);
    /* space between the icons*/
    column-gap: 4em;
}

#info-icon {
    /* snap icon to the right*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
    font-size: 4em;
    color: var(--text-primary);
}

.hero-info-item {
    font-family: Space-Grotesk;
    color: var(--text-primary);
}


/*-------------------REASONS-------------------*/

.info-reasons {
    /* Should be below the hero video*/
    position: relative;
    top: 100vh;
    /* set the background color*/
    background-color: var(--color-primary);
    color: var(--text-primary);
    font-family: Space-Grotesk;
    font-size: 1.2em;
    /* padding: 5vh 7vw;*/
}

.info-reasons-markup {
    font-family: var(--font-secondary);
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 0;
}

.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text-container {
    padding: 2vw 5vw 2vw 2vw;
}

.info-reasons-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    right: 0;
}

.expand-icon {
    font-size: 1.6em;
    text-decoration: none;
    color: var(--text-primary);
    font-variation-settings: 'FILL' 0;
    cursor: pointer;
}

.expand-icon-span :hover {
    font-variation-settings: 'FILL' 1;
    /* fade as transition*/
    transition: font-variation-settings 0.3s;
}

.modal-overlay {
    position: fixed;
    top: 10vh;
    left: 10%;
    width: 80%;
    height: 80vh;
    /* set the background color*/
    background-color: var(--color-primary);
    border-radius: 25px;
    z-index: 2;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* set the background color*/
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.modal-content {
    padding: 2vw 5vw 4vw 4vw;
    overflow-y: auto;
    height: 90%;
}

.modal-title {
    font-size: 1.7em;
    font-weight: 600;
    line-height: 1em;
}

.modal-text {
    font-family: var(--font-secondary);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.6em;
}

.close-icon {
    font-size: 1.6em;
    text-decoration: none;
    color: var(--text-primary);
    font-variation-settings: 'FILL' 0;
    cursor: pointer;
    position: absolute;
    /* stick to the right*/
    right: 2vh;
    top: 1.8vh;

}

.close-icon-span :hover {
    font-variation-settings: 'FILL' 1;
    /* fade as transition*/
    transition: font-variation-settings 0.3s;
}

.simple-table {
    margin-top: 1em;
    font-size: 0.875rem;
    empty-cells: show;
}

.simple-table td:last-child {
    text-align: right;
}

/* make the padding of the table cells larger in height*/
.simple-table td,
.simple-table th {
    padding: 0.75em 1em;
}

table {
    border: 1px solid var(--text-primary);
}

table,
th,
td {
    border: 1px solid var(--text-primary);
    border-collapse: collapse;
}







/* ENERGY CALCULATOR */

.calculator-container {
    /* this is a 60 40 grid*/
    display: grid;
    grid-template-columns: 60% 40%;

}

.mdc-text-field {
    color: var(--text-primary) !important;
    caret-color: var(--text-primary) !important;
    width: 90%;
    margin: 0 1em 1em 0
}

.mdc-text-field__input {
    color: var(--text-primary) !important;
    caret-color: var(--text-primary) !important;
}

.mdc-floating-label {
    color: lightgrey !important;
}

/* set the outline color*/
.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
    border-color: var(--text-primary) !important;
}

/* set the border color for invalid inputs*/
.mdc-text-field--invalid .mdc-floating-label,
.mdc-text-field--invalid .mdc-notched-outline__leading,
.mdc-text-field--invalid .mdc-notched-outline__notch,
.mdc-text-field--invalid .mdc-notched-outline__trailing {
    border-color: red !important;
}

.mdc-button {
    color: var(--text-primary) !important;
    border-color: var(--color-secondary) !important;
    --mdc-theme-primary: var(--color-secondary) !important;
}

.mdc-form-field {
    /* make all the radio buttons below each other*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-label {
    color: var(--text-primary) !important;
    /* make this a grid with 2 columns*/
    display: grid;
    grid-template-columns: .1fr 9fr;
    /* space between the radio button and the label*/
    column-gap: 0.5em;
    /* vertically align the label center*/
    align-items: center;
}

.mdc-radio {
    /* make the button color --primary*/
    --mdc-theme-secondary: var(--color-secondary) !important;
}

.result-cards {
    /* grid with 2 columns*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid is left aligned*/
    justify-items: left;
    /* space between the cards*/
    column-gap: 2em;
    row-gap: 1em;
}

.mdc-card {
    /* initially the cards are hidden*/
    display: none;
    margin-top: 1.5em;
    background-color: var(--color-accent);
    color: var(--text-primary);
    border-radius: 20px;
    padding: 0 1em 0 1em;
    /* make all the cards the same width and height regardless of the content*/
    width: 100%;
    height: 100%;
}

.mdc-card h5 {
    margin-bottom: 0.2em;
}

.mdc-card p {
    margin-top: 0.4em;
    font-size: 0.8em;
}

#result-text {
    font-weight: 600;
    color: var(--color-secondary);
}


/* FACILITY TYPES */
.facility-types {
    /* set the background color*/
    background-color: var(--color-accent);
    color: var(--text-primary);
    font-family: Space-Grotesk;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 2vw 2vw;
}

.subtitle {
    font-size: .7em;
    font-weight: 600;
    color: var(--text-secondary);
    margin-bottom: 0.2em;
}

.types-title {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.carousel-item {
    border-radius: 20px;
    width: 75%;
    margin: 0 auto;
    /* center the image*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.carousel-buttons {
    display: grid;
    grid-template-columns: .7fr .7fr .7fr;
    justify-items: center;
    column-gap: 0.1em;
    margin: 2vh 8vw 3vh 8vw;
}

.carousel-button {
    font-weight: 450;
    font-size: 0.7em;
    padding-top: 0.7em;
    width: 70%;
    border-top: 3px solid var(--text-tertiary);
    text-align: left;
    cursor: pointer;
}

/* add a line under the active button*/
.carousel-button.active {
    border-top: 3px solid var(--text-primary);
}

.type-explainer {
    font-family: var(--font-secondary);
    margin: 0 11vw 5vh 11.7vw;
    font-size: 0.75em;
}

.planning-section {
    /* set the background color*/
    background-color: var(--color-primary);
    color: var(--text-primary);
    font-family: Space-Grotesk;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 2vw 2vw;
}

ul.timeline {
    list-style-type: none;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* make everything on the same line*/
    align-items: center;    

}

/*convert li as cards*/
ul.timeline li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: relative;
    padding: 20px 0;
    /* icons and text on the same line*/
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.6em;
    color: var(--text-tertiary);
}

/* when hovering over a card, change the background color*/
ul.timeline li:hover {
    cursor: pointer;
}

/* we want to have a line (progressbar) between the cards*/
ul.timeline li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2vw;
    width: 2vw;
    height: 3px;
    background: var(--color-accent);
    z-index: -1;
}

/* The first child should not have a line*/
ul.timeline li:first-child {
    color: var(--text-primary);
}

/* active and done styles*/
ul.timeline li.active {
    background: var(--color-secondary);
}

ul.timeline li::before {
    transition: background 0.3s ease;
}

#card-go {
    font-size: 3em;
    margin: 0;
    color: var(--text-tertiary);
}

.timeline-explainer {
    font-family: var(--font-secondary);
    margin: 0 11vw 1em 11.7vw;
    font-size: 0.75em;
    min-height: 8em;   
}

#timeline-button {
    margin: 0 11vw 5vh 11.7vw;
    font-size: 0.55em;
}